  <!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fa fa-hospital-o" aria-hidden="true"></i>
    </div>
    <div class="sidebar-brand-text mx-3">HMS</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="medicines">
      <i class="fas fa-fw fa-table"></i>
      <span>Manage Medicines</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="bill">
      <i class="fas fa-fw fa-table"></i>
      <span>Bill Management </span>
    </a>
  </li>

</ul>
<!-- End of Sidebar -->
