
<form class="container">
  <h2 class="text-center text-uppercase ">medicine form</h2>
  <div class="col-md-12">
    <div class="row">
     
      <div class="col-md-6">
        <label class="w=100"> Medicine name</label>
        <input type="text "class="form-control form-control-sm" [ngModelOptions]="{standalone:true}" [(ngModel)]="name">
      </div>
        <div class="col-md-6 ">
          <label class="w-100">price</label>
          <input type="number" class="form-control form-control-sm" [ngModelOptions]="{standalone:true}" [(ngModel)]="price">

       </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
     
      <div class="col-md-6">
        <label class="w=100">mg</label>
        <select class="form-control form-control-sm" [ngModelOptions]="{standalone:true}" [(ngModel)]="mg">
          <option value="5">5mg</option>
          <option value="250">250mg</option>
          <option value="10">10mg</option>
          <option value="15">15mg</option>
          </select>
        
      </div>
        <div class="col-md-6 ">
          <label class="w-100">quantity </label>
          <input type="number" class="form-control form-control-sm" [ngModelOptions]="{standalone:true}" [(ngModel)]="quantity">

       </div>
    </div>
  </div>
  <div class="btn-sm pr-4 mt-3">
 <button class="btn btn-warning btn-sm p-3 text-center text-light" (click)="save()"> save</button>
 </div>
</form>
