<!--<div class="container-fluid">-->
<!-- Page Heading -->
<!--<h1 class="h3 mb-4 text-gray-800 text-center">Add Bill</h1>

  <div class="card shadow" style="width: 50rem;">
    <form class="container" #form ngNativeValidation>
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-4 mb-3">
            <label class="w-100">Patient Name<small class="required">*</small></label>
            <input type="text" class="form-control form-control-sm" required
                   [ngModelOptions]="{standalone:true}" ng-maxlength="5"  [(ngModel)]="Bill.name">

          </div>
          <div class="col-md-4 mb-3">
            <label class="w-100">Service <small class="required">*</small></label>
            <input type="text" class="form-control form-control-sm" required
                   [ngModelOptions]="{standalone:true}" [(ngModel)]="Bill.Id">
          </div>


        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label class="w-100">Charge</label>
            <input type="text" class="form-control form-control-sm" required
                   [ngModelOptions]="{standalone:true}" [(ngModel)]="Bill.charge">
          </div>
          <div class="col-md-6 mb-3">
            <label class="w-100">Status<small class="required">*</small></label>
            <select class="form-control form-control-sm" required
                    [ngModelOptions]="{standalone:true}" [(ngModel)]="Bill.status">
              <option value="">Select</option>
              <option value="Paid">Paid</option>
              <option value="Not Paid">Not Paid</option>

            </select>
          </div>


        </div>
      </div>
      <div class="btn-sm pr-4 mt-3">
        <button class="btn btn-primary btn-sm p-2 text-center btn-rounded" (click)="form.checkValidity()?save():null">Submit</button>
      </div>
    </form>
  </div>

</div>-->

<div class="ok">
<div class="modal fade" id="billModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{Content.Title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                  <label for="recipient-name" class="w-100 pt-3">Patient Name <small class="required">*</small></label>
                  <input type="text" class="form-control" id="recipient-name" [ngModelOptions]="{standalone:true}" [(ngModel)]="Content.Bill.name">
                </div>
              
              <div class="col-md-6 ">
                <label for="recipient-service" class="w-100 pt-3">Service<small class="required">*</small></label>
                <input type="text" class="form-control" id="recipient-name" [ngModelOptions]="{standalone:true}" [(ngModel)]="Content.Bill.service">

              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 ">
                <label for="recipient-charge"class="w-100 pt-3">Charge <small class="required">*</small></label>
                <input type="text" class="form-control" id="recipient-name" [ngModelOptions]="{standalone:true}" [(ngModel)]="Content.Bill.charge">
              </div>

              <div class="col-md-6 mb-3">
                <label for="recipient-status"class="w-100 pt-3">Status<small class="required">*</small></label>
                <select class="form-control" id="recipient-name" [ngModelOptions]="{standalone:true}" [(ngModel)]="Content.Bill.status">
                  <option value="Paid">Paid</option>
                  <option value="Not Paid">Not Paid</option>

                </select>
              </div>


            </div>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="checkCaller()">Save</button>
      </div>
    </div>
  </div>
</div>
</div>
