<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Add Medicine</h1>

  <div class="card" style="width: 50rem;">
    <form class="container" #form ngNativeValidation>
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-6 mb-3">
            <label class="w-100">Medicine name</label>
            <input type="text" class="form-control form-control-sm" required
                   [ngModelOptions]="{standalone:true}" [(ngModel)]="medicine.name">
          </div>


          <div class="col-md-6">
            <label class="w-100">Select MG</label>
            <select class="form-control form-control-sm" required
                    [ngModelOptions]="{standalone:true}" [(ngModel)]="medicine.mg">
              <option value="">Select</option>
              <option value="50">50 MG</option>
              <option value="100">100 MG</option>
              <option value="200">200 MG</option>
              <option value="250">250 MG</option>
              <option value="500">500 MG</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-6 mb-3">
            <label class="w-100">Quantity</label>
            <input type="number" class="form-control form-control-sm" required
                   [ngModelOptions]="{standalone:true}" [(ngModel)]="medicine.quantity">
          </div>

          <div class="col-md-6">

            <label class="w-100">Price</label>
            <input type="number" class="form-control form-control-sm"
                   [ngModelOptions]="{standalone:true}" [(ngModel)]="medicine.price">
          </div>
        </div>
      </div>

      <div class="btn-sm pr-4 mt-3">
        <button class="btn btn-primary btn-sm p-2 text-center btn-rounded" (click)="form.checkValidity()?save():null">Submit</button>
      </div>
    </form>
  </div>

</div>
